{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kinoko takenoko</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
  <ul>
    <li><a href="/">ホーム</a></li>
    <li><a href="/entry">エントリー</a></li>
  </ul>

  {% block main %}
  <h1>きのこ たけのこ 戦争</h1>
  <p>kinoko takenoko war</p>
  <section class="description-wrapper">
    <h2>使い方</h2>
    <ul>
      <li><p>あなたの好きなチョコを食べて食べて食べまくろう！</p></li>
      <li><p>違う派閥のチョコを食べるとペナルティ！</p></li>
      <li><p>たくさん食べてあなたの派閥を勝利に導こう！</p></li>
    </ul>
  </section>
  <section class = "entry-wrapper">
    <p>エントリーして派閥を選択してね！</p>
    <a href="/entry">エントリー</a>
  </section>
  {% endblock%}
  <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'matter.js' %}"></script>
  <script src="{% static 'production.js' %}"></script>
</body>
</html>